configuration {
	display-drun: "search > ";
	modi: "drun";
    font: "JetBrains Mono 12";
}

* {
	main-color: #171717;
	secondary-color: #3d3d3d;
	background-color: @main-color;
	text-color: White;
}

window {
	background-color: @main-color;
	position: center;
	width: 35%;
	height: 45%;
	border-radius: 15px; 
}

inputbar, element {
	margin: 5px 10px 0px 10px;
	padding: 10px;
}

element {
	border-radius: 3px;
}

element.selected, element-text.selected {
	background-color: @secondary-color;
}
